@import "/src/styles/variables.scss";

.search-result {
  list-style: none;
  font-weight: 600;
  display: flex;
  background-color: transparent;
  font-family: boldfont;
  border-bottom: 2px solid;
  justify-content: center;
  width: 82%;
  color: $white;
  margin: 2rem 0;
  padding-bottom: 2rem;

  &__year {
    color: $white;
    font-size: 2.6rem;
    margin-top: 1rem;
    margin-left: 2rem;
  }

  &__item {
    padding: 0px 1.8rem;
    position: relative;
    font-weight: 500;
    flex-grow: 1;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    height: 100%;

    &:last-child {
      padding-right: 0px;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__pipeline {
    position: absolute;
    width: 2px;
    height: 100%;
    left: 0px;
    top: 0.5rem;
    background-color: $white;
  }

  &__arrow {
    cursor: pointer;
    width: 2.5rem;
    transform: rotateZ(90deg);
  }
}

@media only screen and (max-width: 415px) {
  .search-result {
    width: 100%;
    align-items: center;

    &__year {
      color: $white;
      font-size: 1.2rem;
      margin-top: 0;
      margin-left: 0.5rem;
    }

    &__item {
      padding: 0px 1rem;
      position: relative;
      flex-grow: 1;
      font-size: 0.8rem;
      display: flex;
      align-items: center;
      height: 100%;

      &:last-child {
        padding-right: 0px;
      }
    }

    &__pipeline {
      position: absolute;
      width: 1px;
      height: 4rem;
      left: 0px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $white;
    }

    &__arrow {
      cursor: pointer;
      width: 1.4rem;
      transform: rotateZ(90deg);
    }
  }
}
