.main-word {
  height: 100vh;
  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & > img {
      width: 50vw;
    }
  }

  &__arrow {
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    margin-top: 4rem;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s ease-in-out;

    svg {
      transition: all 0.2s ease-in-out;
    }

    &:hover svg {
      transform: scale(1.1);
    }
  }
}

@media only screen and (max-width: 768px) {
  .main-word {
    &__arrow {
      svg {
        height: 2rem;
      }
    }
  }
}
