@import "/src/styles/variables.scss";

.info-modal {
  height: 35rem;
  padding: 4rem 8rem;
  display: flex;
  justify-content: center;
  background: linear-gradient(to left, $primary, $dark-primary);

  h4 {
    color: $white;
    line-height: 1.6;

    font-size: 1.6rem;
  }

  &__title {
    color: $white;
    font-size: 3.5rem;
    unicode-bidi: bidi-override !important;
    direction: unset !important;
    text-align: right;
    margin-bottom: 1.5rem;
    font-weight: 700;
  }

  &__chevron {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 1rem 3.5rem 0px 0;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-50%);
    cursor: pointer;
  }

  &__list {
    margin: 0 0px 0 -1.5rem;
    font-size: 1.6rem;
    unicode-bidi: bidi-override !important;
    direction: unset !important;
    text-align: right;
    margin-right: 2rem;
    line-height: 1.6;
  }

  &__img {
    height: 28rem;
    width: 28rem;
  }

  &__save {
    position: absolute;
    display: flex;
    align-items: center;
    right: 1rem;
    color: $white;
    font-size: 1.8rem;
    top: 1rem;
    cursor: pointer;
  }
}
