@import "/src/styles/variables.scss";

.contact {
  min-height: 100vh;
  padding-top: 9rem;
  padding-bottom: 9rem;
  background: linear-gradient(to left, $primary, $dark-primary);

  &__navbar {
    background-color: #1d1d1b;
    position: absolute;
    height: 9rem;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__heading {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    position: relative;
  }

  h2 {
    color: white;
    font-size: 5rem;
  }

  &__chat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h2 {
      unicode-bidi: bidi-override !important;
      direction: unset !important;
      text-align: right;

      span {
        font-weight: 700;
        display: inline-block;
      }
    }

    button {
      background-color: $white;
      padding: 1.5rem 7rem;
      display: inline-block;
      border-radius: 4rem 0 4rem 4rem;
      margin-top: 1rem;
      font-size: 2.2rem;
      font-weight: 600;
      color: #575756;
    }
  }

  &__phone {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    button {
      background-color: $white;
      padding: 1.5rem 7rem;
      display: inline-block;
      border-radius: 0 4rem 4rem 4rem;
      margin-top: 1rem;
      font-size: 2.2rem;
      font-weight: 600;
      color: #575756;
    }
  }

  &__line {
    height: 25rem;
    width: 1px;
    border-right: 1px solid $white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14rem;
    justify-content: center;
  }

  &__input {
    background: none;
    background-color: transparent;
    border: 2px solid $white;
    width: 50%;
    margin: 1rem 0;
    padding: 1rem;
    color: $white;

    &::placeholder {
      color: rgba($white, 0.6);
    }

    &:focus,
    &:focus-visible,
    &:active {
      outline: 0;
    }
  }

  &__form-button {
    background-color: $white;
    padding: 1.5rem 7rem;
    display: inline-block;
    border-radius: 4rem 0 4rem 4rem;
    margin-top: 1rem;
    font-size: 2.2rem;
    font-weight: 600;
    color: #575756;
  }
}

@media only screen and (max-width: 768px) {
  .contact {
    &__heading {
      width: 90%;
      justify-content: center;
    }

    h2 {
      color: white;
      font-size: 1.2rem;
    }

    &__chat {
      button {
        padding: 0.5rem 1rem;
        font-size: 1.3rem;
      }
    }

    &__phone {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      button {
        padding: 0.5rem 1rem;
        font-size: 1.3rem;
      }
    }

    &__input {
      width: 90%;
    }

    &__form-button {
      background-color: $white;
      padding: 1rem 2rem;
      font-size: 1.2rem;
      border-radius: 1rem 0 1rem 1rem;
    }

    &__line {
      height: 4rem;
      width: 1px;
      border-right: 1px solid $white;
      position: absolute;
      left: 50%;
      bottom: -0.8rem;
      transform: translateX(-50%);
    }
  }
}

@media only screen and (max-width: 992px) {
  .contact {
    padding-top: 14rem;
    &__heading {
      width: 90%;
      justify-content: center;
    }

    &__navbar {
      height: 14rem;
    }

    h2 {
      color: white;
      font-size: 1.5rem;
    }

    &__chat {
      button {
        padding: 0.5rem 1rem;
        font-size: 1.8rem;
      }
    }

    &__phone {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      button {
        padding: 0.5rem 1rem;
        font-size: 1.8rem;
      }
    }

    &__input {
      width: 90%;
    }

    &__form-button {
      background-color: $white;
      padding: 1rem 2rem;
      font-size: 1.4rem;
      border-radius: 1rem 0 1rem 1rem;
    }

    &__line {
      height: 4rem;
      width: 1px;
      border-right: 1px solid $white;
      position: absolute;
      left: 50%;
      bottom: -0.8rem;
      transform: translateX(-50%);
    }
  }
}
