<section class="contact">
  <div class="contact__navbar"></div>
  <div class="contact__heading">
    <div class="contact__chat">
      <h2>
        تواصلي معنا..
        <span> احنا معك بكل كلمة </span>
      </h2>
      <button>Chat.wavo.org إبدا الدردشة</button>
    </div>
    <span class="contact__line"></span>
    <div class="contact__phone">
      <h2>مركز مساعدة ضحايا العنف الجنسي والجسدي</h2>
      <button>معك ع طول الخط 04656681</button>
    </div>
  </div>
  <form class="contact__form">
    <input class="contact__input" placeholder="الأسم" />
    <input class="contact__input" placeholder="البلد" />
    <input class="contact__input" placeholder="رقم الهاتف" />
    <input class="contact__input" placeholder="البريد الالكتروني" />
    <textarea
      class="contact__input"
      placeholder="اكتب/ي هنا..."
      cols="30"
      rows="10"
    ></textarea>

    <button class="contact__form-button">ارسل/ي</button>
  </form>
</section>
