<div class="input">
  <div class="input__search">
    <img src="../../../assets/icons/Search icon.svg" />
    <span>البحث بحسب :</span>
  </div>
  <select name="" id="الاحرف" class="input__style">
    <option value="">الاحرف</option>
  </select>
  <select name="" id="البلد" class="input__style">
    <option value="">البلد</option>
  </select>
  <select name="" id="العمر" class="input__style">
    <option value="">العمر</option>
  </select>
  <select name="" id="السنة" class="input__style">
    <option value="">السنة</option>
  </select>
  <select name="" id="وضعية الملف في الشرطة" class="input__style">
    <option value="">وضعية الملف في الشرطة</option>
  </select>
</div>
