@import "/src/styles/variables.scss";

.who {
  &__intro {
    display: flex;
    padding-top: 9rem;
    box-shadow: 0 1.5rem 2rem rgba($black, 0.9);
    position: relative;
    z-index: 99;
  }

  &__navbar {
    background-color: #1d1d1b;
    position: absolute;
    height: 9rem;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__info {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    background: linear-gradient(-135deg, $primary, $dark-primary);
    unicode-bidi: bidi-override !important;
    direction: unset !important;
    text-align: right;
    color: $white;
    padding: 3rem;

    p {
      font-size: 1.7rem;
    }
  }

  &__img {
    width: 50%;
  }

  &__title {
    font-weight: bold;
  }

  &__more {
    position: absolute;
    background-color: $black;
    color: $white;
    border-radius: 2rem;
    padding: 0.4rem 2rem;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 999;

    img {
      height: 2rem;
      transform: rotateZ(90deg);
    }
  }

  &__description {
    background: linear-gradient(to top, #e2e0e0, lighten(#e2e0e0, 100));
    padding: 4rem;
    padding-top: 8rem;

    &-container {
      width: 75%;
      margin: auto;
    }
  }

  &__data {
    display: flex;
    align-items: flex-start;
    unicode-bidi: bidi-override !important;
    direction: unset !important;
    text-align: right;
    justify-content: space-between;
    flex-wrap: wrap;

    &-title {
      width: 10%;
      font-size: 3.8rem;
    }
    &-description {
      margin: 0;
      width: 80%;
      font-size: 2rem;
    }

    &-separator {
      display: block;
      width: 60%;
      margin: auto;
      height: 1px;
      border-bottom: 1px solid #1d1d1b;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
  }
}

@media only screen and (max-width: 415px) {
  .who {
    &__intro {
      flex-direction: column;
    }

    &__img {
      width: 100%;
    }

    &__info {
      width: 100%;

      p {
        font-size: 1rem;
      }
    }

    &__title {
      font-weight: bold;
      font-size: 1.6rem;
    }

    &__more {
      font-size: 1rem;

      img {
        height: 1.5rem;
        transform: rotateZ(90deg);
      }
    }

    &__data {
      &-title {
        font-size: 1.2rem;
      }
      &-description {
        margin: 0;
        width: 80%;
        font-size: 0.8rem;
      }

      &-separator {
        display: block;
        width: 60%;
        margin: auto;
        height: 1px;
        border-bottom: 1px solid #1d1d1b;
        margin-top: 3rem;
        margin-bottom: 3rem;
      }
    }
  }
}
