<div class="who">
  <div class="who__intro">
    <div class="who__navbar"></div>
    <div class="who__info">
      <h1 class="who__title">من نحن:</h1>
      <p>
        موقع بكفي هو موقع مجاﻧﻲ يهدف إلى تسليط الضوء على أرواح النساء اللواﺗﻲ
        فقدن حياتهن لكونهن نساء. يأﺗﻲ هذا المشروع نتاج تعاون بﻴﻦ جمعية نساء ضد
        العنف والمصمم الجرافي ورد جرايسي الذي كان قد قدم فكرة التصميم لهذا
        الموقع كمشروع تخرج له.
      </p>
      <p>
        ولاهمية المبادرة قد قررنا في نساء ضد العنف أخذ هذه المبادرة التطوعية
        وتطويرها بالشراكة ﻛﻲ نتمكن من انتاج موقع معلوماﺗﻲ يوثق حياة النساء
        اللواﺗﻲ قتلنا والتطورات في مسارات قضاياهن في محاكمة المجرمﻴﻦ وتقدﻳﻤهم
        للعدالة.
      </p>
      <p>
        كﻤﺎ وتم التعاون مع الباحث مهيب زيدان الذي عمل جاهدا لجمع أسﻤﺎء النساء
        الفلسطينيات اللواﺗﻲ قتلن من مقصوصات جرائد وصلت حتى سنة 1929 بغاية بحث
        علمي في مساره الأكادﻳﻤي، وقد شارك الباحث زيدان المعلومات مع الجمعية
        تطوعا.
      </p>
      <p>
        نحن في نساء ضد العنف نرى في مخزن المعلومات هذا أهمية كبﻴﺮة في ذكرى جميع
        الضحايا ورفع صوتهن من أجل نيل حقهن في تقديم المجرمﻴﻦ للعدالة. نعمل قدر
        المستطاع للوصول إلى جميع اسﻤﺎء النساء الفلسطينيات اللواﺗﻲ قتلنا ونشر
        تفاصيلهن.
      </p>
      <p>
        نرحب بكل من لديه معلومات اضافية عن المعروض او صورة او اسم ﻟﻢ يذكر ان
        .info@wavo.org يتوجه للجمعية
      </p>
      <span class="who__more">
        تعرف علينا اكثر عبر موقعنا الالكتروﻧﻲ
        <img src="../../assets/icons/arrow-left.svg" />
      </span>
    </div>
    <img class="who__img" src="../../assets/images/woman 2 photo.png" />
  </div>
  <div class="who__description">
    <div class="who__description-container">
      <div class="who__data">
        <h4 class="who__data-title">الرؤيا:</h4>
        <p class="who__data-description">
          نصبو في جمعية نساء ضد العنف إلى إحداث تغيﻴﺮ مجتمعي وصولاًً إلى مجتمع
          دﻳﻤقراطي يقوم على العدالة الاجتﻤﺎعية، يحفظ لأفراده، لا سيﻤﺎ للمرأة،
          الحق في حياة كرﻳﻤة وﺑﻤساواة وتكافؤ فرص- بحيث يكون لكل راغب وراغبة كامل
          الفرص في تحقيق الذات والطموحات؛ وترى الجمعية أن تسهم بقسطها المتواضع
          في خلق مناخ ينتفي فيه العنف الموجه ضد المرأة ويختفي في ظله شروط قمع
          المرأة واضطهادها.
        </p>
        <span class="who__data-separator"></span>
      </div>
      <div class="who__data">
        <h4 class="who__data-title">أهدافنا:</h4>
        <p class="who__data-description">
          1. تنظيم وتفعيل المجتمع بجميع مركباته، خاصة النساء للعمل من أجل تحقيق
          المساواة التامة للنساء العربيات الفلسطينيات في إسرائيل، في جميع مجالات
          الحياة.
          <br />
          2. نشر وتعميق فكر الجمعية النسوي الشمولي لدى مختلف شرائح المجتمع.
          <br />
          3. تعزيز مشاركة وﺗﻤثيل النساء ﺑﻤساواة في مواقع صنع القرار والقيادة
          المجتمعية.
          <br />
          4. إزالة جميع العوائق المجتمعية والمؤسساتية من أجل ضﻤﺎن حق النساء في
          العمل وتوفﻴﺮ فرص وشروط عمل متساوية لهن.
          <br />
          5. الكشف والقضاء على كافة أشكال العنف ضد النساء وتوفﻴﺮ الدعم والخدمات
          المهنية لجمهور النساء المعنفات.
        </p>
        <span class="who__data-separator"></span>
      </div>
      <div class="who__data">
        <h4 class="who__data-title">منطلقاتنا:</h4>
        <article class="who__data-description">
          <p>
            1 . ننطلق في عملنا من الأفكار والمبادئ الإنسانية المتنورة فيﻤﺎ يتعلق
            بالمرأة وحقو قها، ﺑﻤا في ذلك المواثيق والمرجعيات الدولية. المهنية
            لجمهور النساء المعنفات.
          </p>
          <p>
            2.نرى أنه من غﻴﺮ الممكن التأثﻴﺮ والتغيﻴﺮ ﺑﻤا يتفق مع أهدافنا دون أن
            يأﺗﻲ عملنا في إطار مشروع التغيﻴﺮ المجتمعي الشامل في كل ما يتعلق
            بالمرأة، ومن خلال التنسيق، وبالتعاون، مع كل الهيئات والمؤسسات ذات
            العلاقة، مثل المؤسسات التربوية والعلاجية والقضائية والإعلامية
            وغﻴﺮها، بحيث يتم حشد كل الطاقات والموارد لإحداث التغيﻴﺮ المنشود.
          </p>
          <p>
            3.نسعى للوصول إلى النساء كافة، لاسيﻤﺎ أكﺜﺮ الفئات تهميشاً، وذلك بغية
            ﺗﻤكينهن، إسنادهن، تطوير التكافل والتعاضد فيﻤﺎ بينهن، والتنسيق مع كل
            الفعاليات الناشطة في المجال.
          </p>
          <p>
            4. رغم خصوصيتنا كجمعية نسوية عربية، إلا أنه من الضروري العمل
            والتنسيق مع الحركات والفعاليات النسائية والنسوية المحلية والعالمية
            كافة، ومع المنظﻤﺎت الناشطة في حقوق الإنسان. كﻤﺎ وأننا لا نتردد في
            التعاون مع أطر ورجال يؤمنون ويعملون على رفع مكانة المرأة، لأننا نرى
            في الرجل شريكاً متساوياً في عملية التغيﻴﺮ المجتمعي.
          </p>
          <p>
            5. نسعى في الجمعية للتحول إلى مجموعة متكاتفة تقوم على الإسناد
            المتبادل، بحيث تجد كل نشيطة ومتطوعة في زميلاتها مكملات ومساندات لها
            على الأصعدة كافة، وذلك سعياً إلى خلق إطار فكري منسجم- ينتج بالحوار
            الدائم فكراً نسوياً فلسطينياً متميزاً.
          </p>
          <p>
            6.تنشط الجمعية على أساس من الاستقلالية، وهي غﻴﺮ منتمية لأي حركة أو
            جسم سياسي.
          </p>
        </article>
      </div>
    </div>
  </div>
</div>
