<section class="idea">
  <div class="idea__info">
    <h1 class="idea__heading">الفكرة:</h1>
    <div class="idea__description">
      <p>
        موقع بكفي هو موقع مجاﻧﻲ يهدف إلى تسليط الضوء على أرواح النساء اللواﺗﻲ
        فقدن حياتهن لكونهن نساء. يأﺗﻲ هذا المشروع نتاج تعاون بﻴﻦ جمعية نساء ضد
        العنف والمصمم الجرافي ورد جرايسي الذي كان قد قدم فكرة التصميم لهذا
        الموقع كمشروع تخرج له.
      </p>
      <p>
        ولاهمية المبادرة قد قررنا في نساء ضد العنف أخذ هذه المبادرة التطوعية
        وتطويرها بالشراكة ﻛﻲ نتمكن من انتاج موقع معلوماﺗﻲ يوثق حياة النساء
        اللواﺗﻲ قتلنا والتطورات في مسارات قضاياهن في محاكمة المجرمﻴﻦ وتقدﻳﻤهم
        للعدالة.
      </p>
      <p>
        كﻤﺎ وتم التعاون مع الباحث مهيب زيدان الذي عمل جاهدا لجمع أسﻤﺎء النساء
        الفلسطينيات اللواﺗﻲ قتلن من مقصوصات جرائد وصلت حتى سنة 1929 بغاية بحث
        علمي في مساره الأكادﻳﻤي، وقد شارك الباحث زيدان المعلومات مع الجمعية
        تطوعا.
      </p>

      <p>
        نحن في نساء ضد العنف نرى في مخزن المعلومات هذا أهمية كبﻴﺮة في ذكرى جميع
        الضحايا ورفع صوتهن من أجل نيل حقهن في تقديم المجرمﻴﻦ للعدالة. نعمل قدر
        المستطاع للوصول إلى جميع اسﻤﺎء النساء الفلسطينيات اللواﺗﻲ قتلنا ونشر
        تفاصيلهن.
      </p>
      <p>
        نرحب بكل من لديه معلومات اضافية عن المعروض او صورة او اسم ﻟﻢ يذكر ان
        يتوجه للجمعية عبر .info@wavo.org
      </p>
    </div>
    <button class="idea__button">
      تعرف اكثر
      <img src="../../assets/icons/Arrow down icon.svg" />
    </button>
  </div>
  <img class="idea__main-img" src="../../assets/images/woman 1 photo.png" />
</section>
