<div class="stats">
  <div class="stats__imgs">
    <img class="stats__img" src="../../assets/images/woman3-1.png" />
    <img class="stats__img" src="../../assets/images/woman3-2.png" />
  </div>
</div>
<div class="stats__info">
  <article class="stats__article">
    <p>
      لقد شهد مجتمعنا في الآونة الأخﻴﺮة, العديد من حالات العنف والقتل التي خرجت
      في أعقابها جﻤﺎهﻴﺮ غفﻴﺮة للاحتجاج والمطالبة بالحﻤﺎية ووقف سفك الدماء. ومن
      أبرز حالات العنف تلك الموجهة ضد النساء حيث تعتبر قضية العنف ضدهن قضية
      وطنية من الدرجة الأولى وجب التصدي لها وتقديم الحﻤﺎية والدعم للضحايا.
    </p>
    <p>
      مركز مساعدة ضحايا الاعتداءات الجنسيّة والجسديّة في جمعية نساء ضد العنف عمل
      على جمع المعطيات حول هذا الواقع المؤﻟﻢ وإصدار التقرير السنوي لعام 2020 ،
      وذلك بالاعتﻤﺎد على توجهات لنساء وفتيات قررن الحَدّ من العنف الموجه ضدّهن،
      وبالتالي قمن برَفعِ سﻤﺎعة الهاتف والاتصال بالمركز للمشاركة والبوح
      بضائقتهنّ وآلامهن التﻤﺎسًا لتلقي المساندة، الدعم والاستشارة من قبل مختصات
      ومتطوعات مؤهلات تؤمن بحق المرأة في العيش الكريم.
    </p>
    <p>
      لقد أظهرت المعطيات الأخﻴﺮة لمركز المساعدة أن هناك ازدياد كبﻴﺮ بعدد
      التوجهات من قبل النساء المعنّفات نسبة للعام الماضي. حيث بلغ إجﻤﺎلي عدد
      التوجهات لمركز المساعدة في جمعية نساء ضد العنف، والتي اشتملت على 1260
      توجها. , اعتداءات جنسية وجسدية، وﺑﻤا فيها اعتداءات كلامية على أنواعها
      المختلفة، لعام 2020
    </p>
    <p>
      وفقا للتوجهات التي تلقيناها، هنالك ازدياد كبﻴﺮ بعدد التوجهات لمركز
      المساعدة مقارنةً بالعام الماضي، 2019 ، حيث بلغ عدد التوجهات حينها 899
      توجه، أي أن هناك زيادة بنسبة ٪ 40 بالتوجهات منذ العام 2019 , خاصة التوجهات
      التي تتضمن اعتداءات جسدية. فقد أظهرت المعطيات أن % 51 من التوجهات كانت
      لاعتداءات جسدية، مقابل ذلك % 49 من التوجهات كانت لاعتادءات جنسية. وقد يعود
      ذل ، ك للضغوطات لانفسية والاتقصادية التي خل فّتها جائحة الكورونا,وانعدام
      السيطرة مﻤﺎ يتسبب بانبعاث الشعور بالتشتت ,التخبطات,القلق والتوتر.
    </p>
    <p>
      لا ﻳﻤكن اغفال اسقاطات هذه الأزمة علينا جميعا وعلى النساء بشكل خاص.الوضعية
      النفسية,المشاعر واسقاطات هذه الأزمة على الأوضاع الاقتصادية خصوصا ﺑﻤا يتعلق
      بزيادة القلق والخوف من خسارة مصدر الرزق ,يشكلن ارضيه خصبه لازدياد حالات
      العنف عموما والعنف ضد النساء خصوصا ,التواجد المكثف لساعات طويله في البيت
      والاحتكاك المستمر في ظل أوضاع نفسية واقتصادية مرهقه هو باعث إضافي لاستخدام
      القوة ضد النساء بالإضافة الى ذلك، عدم شعور المرأة بالاستقلالية وارتباطها
      بالرجل اجتﻤﺎعيا واقتصاديا قد يؤدي الى مﻤﺎرسة العنف ضدها حتى في العلاقات
      الزوجية ﺑﻤا في ذلك العنف الجنسي.
    </p>
    <p>
      بطبيعة الحال، ﺛﻤة ادّعاء أن العنف الجسدي هو أكﺜﺮ أشكال العنف التي تتعرض
      لها المرأة. مﻤﺎ لا شك فيه، أن نتائج العنف الجسدي تكون في حالات كثﻴﺮة وخيمة
      جدا وقد يؤدي الى قتل المرأة. مﻤﺎرسة العنف الجسدي ضد المرأة له تأثﻴﺮات
      وخيمة ليس فقط على الحالة الجسدية والنفسية للمرأة المعنفة, وإﻧﻤا أيضا له
      إسقاطات على العائلة وﺗﻤاسكها, وبذلك يتضرر المجتمع أيضا نتيجة لهذا العنف.
    </p>
  </article>
  <div class="stats__numbers">
    <h1 class="stats__percentage">
      <span class="stats__percentage-symbol">%</span> 40
      <span class="stats__description">
        زيادة بعدد التوجهات لمركز<br />
        المساعدة نسبة للعام الماضي
      </span>
    </h1>

    <div class="stats__chart">
      <div class="stats__chart-container" *ngFor="let chart of charts">
        <div class="stats__chart-preview">
          <div
            class="stats__chart-pink"
            [ngStyle]="{ height: chart['2020'] / 3 + 'px' }"
          >
            <span class="stats__chart-value">{{ chart["2020"] }}</span>
          </div>
          <div
            class="stats__chart-black"
            [ngStyle]="{ height: chart['2019'] / 3 + 'px' }"
          >
            <span class="stats__chart-value">{{ chart["2019"] }}</span>
          </div>
        </div>
        <p>{{ chart.title }}</p>
      </div>
      <div class="stats__chart-info">
        <div class="stats__chart-2019">
          <span class="stats__chart-2019-black"></span> 2019
        </div>
        <div class="stats__chart-2020">
          <span class="stats__chart-2019-pink"></span> 2020
        </div>
      </div>
    </div>
  </div>
</div>
<div class="stats__period">
  <div class="stats__period-numbers">
    <h1 class="stats__percentage stats__percentage--period">
      <span class="stats__percentage-symbol stats__percentage-symbol--period"
        >%</span
      >
      50
      <span class="stats__description stats__description--period">
        من التوجهات كانت بعد نصف سنة <br />حتى سنة من تعرض الضحية للاعتداء
      </span>
    </h1>
  </div>
  <article class="stats__period-description">
    <p>
      مع انتهاء الإغلاق الأول ارتفعت نسبة التوجهات للمركز من أجل تلقي استشارة
      قانونية مقارنة بالفترة نفسها في السنة الماضية فكﻤﺎ يبدو ان النساء قمن
      بتأجيل البدء في مسارات قانونية طويلة بسبب الإغلاق. وقد تركزت التوجهات في
      هذه الفترة بالتبليغ عن عنف جسدي وعنف اقتصادي, بالإضافة لذلك احتاجت النساء
      لمساعدة وتوجيه في التوجه للمؤسسات المسؤولة.
    </p>
    <p>
      في أعقاب انتشار جائحة الكورونا وزيادة حالات العنف في المجتمع العرﺑﻲ، عمل
      مركز المساعدة على زيادة كوادر من المتطوعات ونشر معلومات حول عمل المركز في
      وسائل الإعلام المختلفة, وذلك لاحتواء أكبر عدد ممكن من التوجهات. ساهمت هذه
      المبادرة في رفع الوعي لموضوع الاعتداءات الجنسية والجسدية، وقد انعكس ذلك في
      تقليص المدة الزمنية بﻴﻦ الاعتداء والتوجه للمركز. حيث أن % 50 من التوجهات
      كانت بعد نصف سنة حتى سنة من تعرض الضحية للاعتداء، خلافا لسنوات سابقة التي
      امتنع فيها العديد من الضحايا من تقديم الشكوى حتى بعد مرور سنوات طويلة على
      الإعتداء. فعادة تستغرق النساء والفتيات المعتدى عليهن وقتا أطول للتحدث عﻤﺎّ
      حصل لهن, تحاول بعضهن إفشاء هذا السر الذي أجبرها المجتمع على دفنه قسرًا في
      جوفها لعدة أسباب, منها صعوبة التعامل مع حقيقة الاعتداء, الشعور بالخجل
      والعجز مﻤﺎ حصل, الصعوبة بإعطاء الثقة لمن حولها, فقدان الكرامة, الخوف من
      جرائم القتل وعنصر الصمت المبني على الخجل من كشف القضية, النظرة الناقدة
      تجاه المعتدى عليها وتذنيبها بالجرم.
    </p>
  </article>
</div>
<div class="stats__period-chart">
  <div class="stats__chart stats__chart--period">
    <div
      class="stats__chart-container stats__chart-container--period"
      *ngFor="let chart of periodCharts"
    >
      <div class="stats__chart-preview stats__chart-preview--period">
        <div
          class="stats__chart-pink stats__chart-pink--period"
          [ngStyle]="{ height: chart.perc + 10 + 'px' }"
        >
          <span class="stats__chart-value stats__chart-value--period">{{
            chart.perc + "%"
          }}</span>
        </div>
      </div>
      <p>{{ chart.title }}</p>
    </div>
  </div>
</div>
<div class="stats__period2">
  <div class="stats__period2-info">
    <h2>هوية المعتدي في الاعتداءات الجسدية</h2>
    <p>
      عادة تتعرض النساء الى العنف من أشخاص في أقرب الدوائر الاجتﻤﺎعية إليها وفي
      حيزها الأسري الذي يُفترض أن يكون ملاذًا آمنا للنساء. تشﻴﺮ معطيات مركز
      المساعدة الى أن الأزواج السابقﻴﻦ أو الحاليﻴﻦ شكلوا % 64 من نسبة المعتدين
      في الاعتداءات الجسدية مقارنة ب% 12 في الاعتداءات الجنسية, بينﻤﺎ شكّل
      "الصديق" % 19 والأقارب (ابن عم\ابن خال\ اخ\ اب\ عم \ خال\ زوج) % 49 من
      نسبة المعتدين في الاعتداءات الجنسية.
    </p>
  </div>
  <div class="stats__chart stats__chart--id stats__period2-chart">
    <div
      class="stats__chart-container stats__chart-container--id"
      *ngFor="let chart of idCharts"
    >
      <div class="stats__chart-preview stats__chart-preview--id">
        <div
          class="stats__chart-pink"
          [ngStyle]="{ height: chart.perc + 10 + 'px' }"
        >
          <span class="stats__chart-value stats__chart-value--id">{{
            chart.perc + "%"
          }}</span>
        </div>
      </div>
      <p>{{ chart.title }}</p>
    </div>
  </div>
</div>
<div class="stats__relations">
  <div
    class="stats__relations-container"
    *ngFor="let relationChart of relationsCharts; let i = index"
  >
    <span class="stats__relations-title">{{ relationChart.title }}</span>
    <div
      [ngClass]="{ 'bg-white': i >= 10 }"
      [ngStyle]="{ width: relationChart.perc * 50 + 'px' }"
      class="stats__relations-chart bg-{{ i + 1 }} "
    >
      <span> {{ relationChart.perc + "%" }} </span>
    </div>
  </div>
</div>
<div class="stats__social">
  <div class="stats__social-section">
    <h1 class="stats__percentage stats__percentage--social">
      <span class="stats__percentage-symbol stats__percentage-symbol--social"
        >%</span
      >
      17
      <span class="stats__description stats__description--social">
        من الاعتداءات الجنسية تحدث من<br />
        خلال شبكات التواصل الاجتﻤﺎعي
      </span>
    </h1>
    <article>
      <p>
        سهّل انتشار استخدام مواقع التواصل الاجتﻤﺎعي, وتطبيقات الدردشة والألعاب
        الإلكترونية على ابتزاز الضحايا والمساس بحياتهم الخاصة. ومع زيادة التواصل
        الرقمي التي فرضتها جائحة الكورونا شملت عملية الابتزا ز ضحايا من كل
        الأعﻤﺎر والمستويات الثقافية والاجتﻤﺎعية. غالبًا تبدأ العملية عن طريق
        إقامة علاقة صداقة مع الشخص المستهدف، ثم يتم الانتقال إلى مرحلة التواصل
        عن طريق برامج المحادثات المرئية، ليقوم بعد ذلك المبتز باستدراج الضحية
        وتسجيل المحادثة التي تحتوي على محتوى مسيء وشخصي للضحية.
      </p>
      <p>
        ولا يتواﻧﻰ "قراصنة الابتزاز الإلكتروﻧﻲ" في تهديد ضحاياهم بنشر الصور أو
        المحادثات، ما ﻟﻢ يدفعوا لهم مبالغ مالية، أو يرضخوا لطلباتهم الجنسية.
        للأسف الشديد, تتعامل الشرطة مع الكثﻴﺮ من هذه القضايا كأنها مجرد حدث
        طبيعي ومقبول بغية التقليل من شأن معاناة المعتدى عليها ويظهرون عدم الجدية
        في المعالجة. زد على ذلك أنه ﺛﻤة مسار بﻴﺮوقراطي شاق وغﻴﺮ مبال بخصوصية
        الضحية وعدم الاكتراث للمستوى النفسي ,حاجز اللغة, مسار ترجمة المشاعر
        والتأهيل الغﻴﺮ كافي للمحققﻴﻦ بالعمل مع ضحايا الاعتداء. إن هذه النظرة
        وأسلوب التعامل المسيء يسمح بالتﻤﺎدي وانتهاك الخصوصيات.
      </p>
    </article>
  </div>
  <div class="stats__social-section">
    <article>
      <p>
        سهّل انتشار استخدام مواقع التواصل الاجتﻤﺎعي, وتطبيقات الدردشة والألعاب
        الإلكترونية على ابتزاز الضحايا والمساس بحياتهم الخاصة. ومع زيادة التواصل
        الرقمي التي فرضتها جائحة الكورونا شملت عملية الابتزاز ضحايا من كل
        الأعﻤﺎر والمستويات الثقافية والاجتﻤﺎعية. غالبًا تبدأ العملية عن طريق
        إقامة علاقة صداقة مع الشخص المستهدف، ثم يتم الانتقال إلى مرحلة التواصل
        عن طريق برامج المحادثات المرئية، ليقوم بعد ذلك المبتز باستدراج الضحية
        وتسجيل المحادثة التي تحتوي على محتوى مسيء وشخصي للضحية.
      </p>
      <p>
        ولا يتواﻧﻰ "قراصنة الابتزاز الإلكتروﻧﻲ" في تهديد ضحاياهم بنشر الصور أو
        المحادثات، ما ﻟﻢ يدفعوا لهم مبالغ مالية، أو يرضخوا لطلباتهم الجنسية.
        للأسف الشديد, تتعامل الشرطة مع الكثﻴﺮ من هذه القضايا كأنها مجرد حدث
        طبيعي ومقبول بغية التقليل من شأن معاناة المعتدى عليها ويظهرون عدم الجدية
        في المعالجة. زد على ذلك أنه ﺛﻤة مسار بﻴﺮوقراطي شاق وغﻴﺮ مبال بخصوصية
        الضحية وعدم الاكتراث للمستوى النفسي ,حاجز اللغة, مسار ترجمة المشاعر
        والتأهيل الغﻴﺮ كافي للمحققﻴﻦ بالعمل مع ضحايا الاعتداء. إن هذه النظرة
        وأسلوب التعامل المسيء يسمح بالتﻤﺎدي وانتهاك الخصوصيات.
      </p>
    </article>

    <h1 class="stats__percentage">
      <span class="stats__percentage-symbol stats__percentage-symbol--social2"
        >%</span
      >
      80
      <span class="stats__description">
        من ملفات جرائم العنف ضد النساء<br />
        دون بذل كل الجهود المطلوبة من أجل<br />
        معاقبة المجرمﻴﻦ
      </span>
    </h1>
  </div>
  <article class="stats__social-description">
    <p>
      تشﻴﺮ المعطيات أعلاه الى ضرورة تكثيف دور مراكز المساعدة لحﻤﺎية ضحايا العنف
      الجسدي والجنسي خاصة في ظل غياب دور الشرطة في المجتمع العرﺑﻲ. هذا التقصﻴﺮ
      يفسر معطيات بحثنا الذي أظهر أن أكﺜﺮ من % 50 من ضحايا الاعتداء الجنسي
      والجسدي ﻟﻢ يتوجهوا للشرطة لطلب المساعدة وتقديم الشكوى. العديد من حالات
      العنف ضد النساء يتم احتواؤها داخل العائلات, واحتواء مثل هذه المظاهر بدون
      وجود رادع قانوﻧﻲ وأخلاقي من شأنه أن يشرعن اللجوء للعنف وزيادة وطأته.
    </p>
    <p>
      أمر آخر صعّب على النساء هو توقف المرافقة التي تحتاجها بعض النساء في التوجه
      للمحاكم من قبل متطوعات وذلك بسبب الإغلاق. عمليا، ﻟﻢ تكن الآلية القانونية
      في فترة الكورونا متاحة وملاﺋﻤة لاحتياجات النساء في الوقت الذي ازداد
      التبليغ عن العنف ضدهن. فقد كان هنالك حاجة لتجنيد وتحضﻴﺮ لآليات اخرى مثل
      اعطاء صلاحيات محلية لمكاتب الرفاه الاجتﻤﺎعي وتوفﻴﺮ أماكن إبعاد بديلة للرجل
      الذي يتم إصدار حكم بإبعاده. ففي وقت الإغلاق هناك حاجة لترتيب مكان بديل
      للرجل ,عادة يكون لدى أقارب او معارف له و هذا امر من الصعب تأمينه في ظروف
      مشابهة.
    </p>
    <p>
      للأسف الشديد، نحن نعلم بأن أزمة الثقة هذه مستمرة في ظل كل المضايقات
      السياسية والأمنية التي يعاﻧﻲ منها شعبنا. ولكن علينا كمجتمع مواجهة تقصﻴﺮ
      الشرطة واستهتارها بقضايا قتل النساء العربيات, فلا يعقل أن ينتشر السلاح في
      مجتمعنا بهذا الشكل تحت أعﻴﻦ جهاز الشرطة ولا يعقل أن تُغلق حوالي % 80 من
      ملفات جرائم العنف ضد النساء دون بذل كل الجهود المطلوبة من أجل معاقبة
      المجرمﻴﻦ. إذ بالرغم من تدخل الشرطة التي من المفروض ان تضمن سلامة المواطنﻴﻦ
      وتعمل من اجل حﻤﺎيتهم إلا ان هذا التدخل غﻴﺮ المكترث لهذه الشريحة من المجتمع
      لكونهن نساء يخلق ازمة ثقة لدى الضحية تجاه الجهاز والمنظومة القانونية في ما
      يتعلق بقدرته على حﻤﺎيتها ومنع استمرارية الاعتداء. نتيجة لذلك فإن اتخاذ
      القرار وتقديم شكوى يتطلب مقادير من الشجاعة المضاعفة والتنازلات من جهة
      الضحية فتواجه المرأة تدخلا مبنيا على أفكار مسبقة مفادها أن العنف جزء من
      عقلية المجتمع الفلسطيني .
    </p>
    <p>
      وفي الختام نود شكر طاقمِ المتطوعات القديرات اللّواﺗﻲ يوصلن اللّيل بالنّهار
      للعمل من أجل خدمة النّساء بإنسانيّة, مهنيّة وعدالة لزرع روح الأمان,
      احتوائهن ومساعدتهنّ للخروج من قوقعةِ الظّلام.
    </p>
  </article>
</div>
